<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <title>datepicker 组件</title>
    <link href="../../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../../../node_modules/font-awesome/css/font-awesome.css" rel="stylesheet">
    <script src="../../../tests/mod.js"></script>
</head>
<body>
    <div :controller="test">
        <xmp is="ms-datepicker"></xmp>
    </div>
    <script>
        require(['../../../tests/index.js'], function () {
            require('../');

            var vm = avalon.define({
                $id: 'test'
            });
        });
    </script>
</body>
</html>