<div :class="@wrapper" class="ane-checkbox" style="margin-top: 0; margin-bottom: 0;">
    <label class="ane-checkbox-inner ane-checkbox-inner-ie">
        <input type="checkbox"
            :class="[@indeterminate?'ane-checkbox-indeterminate':'']"
            :attr="{id:@helpId,disabled:@disabled}"
            :duplex-checked="@checked"
            data-duplex-changed="@onChange"
            />
        <span class="text"></span>
    </label>
    <label :attr="{'for':@helpId}" style="padding-left: 0;" :css="{marginRight:@group?8:0}"><slot /></label>
</div>