<div class="ane-timepicker-view">
    <div class="ane-timepicker-view-combobox">
        <div class="ane-timepicker-view-select" name="hour-options">
            <ul>
                <li :for="hour in @hourOptions"
                    :class="[(hour==@currentHour?'ane-timepicker-view-select-option-selected':'')]"
                    :click="@select(hour, 'hour')">{{hour}}</li>
            </ul>
        </div>
        <div class="ane-timepicker-view-select" name="minute-options">
            <ul>
                <li :for="minute in @minuteOptions"
                    :class="[(minute==@currentMinute?'ane-timepicker-view-select-option-selected':'')]"
                    :click="@select(minute, 'minute')">{{minute}}</li>
            </ul>
        </div>
        <div class="ane-timepicker-view-select" name="second-options">
            <ul>
                <li :for="second in @secondOptions"
                    :class="[(second==@currentSecond?'ane-timepicker-view-select-option-selected':'')]"
                    :click="@select(second, 'second')">{{second}}</li>
            </ul>
        </div>
    </div>
</div>