<div class="ane-timepicker" :css="{width:@width}">
    <i class="fa fa-clock-o ane-timepicker-icon"></i>
    <i class="fa fa-times-circle ane-timepicker-clear" :if="@selected.length" :click="@clear"></i>
    <input type="text"
        class="form-control ane-timepicker-input"
        :click="@handleClick"
        readonly
        :attr="{placeholder:@placeholder}"
        :css="{width:'100%'}"
        :duplex="selected" />
    <ms-trigger :widget="{
        visible: @panelVisible,
        innerVmId: @panelVmId,
        innerClass: @panelClass,
        innerTemplate: @panelTemplate,
        withInBox: @withInBox,
        getTarget: @getTarget,
        onHide: @handlePanelHide
    }">
    </ms-trigger>
</div>