<template>
    <div class="ane-timepicker">
        <i class="fa fa-clock-o ane-timepicker-icon"></i>
        <i class="fa fa-times-circle ane-timepicker-clear" :if="@selected.length" :click="@clear"></i>
        <input type="text"
            class="form-control ane-timepicker-input"
            :click="@handleClick"
            readonly
            :attr="{placeholder:@placeholder}"
            :duplex="selected" />
        <ms-trigger :widget="{
            visible: @panelVisible,
            innerVmId: @panelVmId,
            innerClass: @panelClass,
            innerTemplate: @panelTemplate,
            withInBox: @withInBox,
            getTarget: @getTarget,
            onHide: @handlePanelHide
        }">
        </ms-trigger>
    </div>
</template>
<style lang="scss">
    @import '../../styles/index';
    $timepicker-prefix-cls: #{$ane-prefix}-timepicker;

    .#{$timepicker-prefix-cls} {
        position: relative;

        &-icon {
            position: absolute;
            right: 8px;
            top: 50%;
            margin-top: -7px;
        }
        &-clear {
            position: absolute;
            right: 8px;
            top: 50%;
            margin-top: -7px;
            padding: 1px;
            cursor: pointer;
            display: none;
            background: #fff;
        }
        &:hover &-clear {
            display: inline-block;
        }
        & &-input {
            background-color: #fff;
        }
    }

    .#{$timepicker-prefix-cls}-panel-container {
        background-color: #fff;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        user-select: none;
    }
    .#{$timepicker-prefix-cls}-panel {
        width: 252px;
    }
</style>