<template>
    <div class="ane-upload-card">
        <div class="ane-upload-card-item" :class="[(file.status === 'error' ? 'bordered-danger' : '')]" :for="($index, file) in @fileList">
            <img :attr="{src:file.url,alt:file.name,title:file.name}">
            <span class="ane-upload-card-progress" :visible="file.status === 'uploading'">上传中 {{file.progress}}%</span>
            <span class="ane-upload-card-tool">
                <i class="fa fa-eye"></i>
                <i class="fa fa-trash-o" :click="del(file)"></i>
            </span>
        </div>
    </div>
</template>