<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <title>Document</title>
    <link href="../../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <script src="../../../tests/mod.js"></script>
</head>
<body>
    <div :controller="test">
        <div :loading="@loading" style="width: 300px; height: 150px; background: #c0c0c0;"></div>
    </div>
    <script>
        require(['../../../tests/index.js'], function () {
            require('../');

            var vm = avalon.define({
                $id: 'test',
                loading: true
            });
        });
    </script>
</body>
</html>