<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <title>Document</title>
    <link href="../../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../../../styles/font-awesome.min.css" rel="stylesheet">
    <script src="../../../tests/mod.js"></script>
</head>
<body>
    <div :controller="test">
        <div>
            <xmp is="ms-select" :widget="{showSearch:true,mode:'multiple'}">
                <ms-select-option :widget="{value:'onepiece'}">海贼王</ms-select-option>
                <ms-select-option :widget="{value:'conna'}">名侦探柯南</ms-select-option>
                <ms-select-option :widget="{value:'titan'}">进击的巨人</ms-select-option>
                <ms-select-option :widget="{value:'disabled', disabled:true}">禁用</ms-select-option>
                <ms-select-option :widget="{value:'onepunchman'}">一拳超人</ms-select-option>
            </xmp>
        </div>
    </div>
    <script>
        require(['../../../tests/index.js'], function () {
            require('../');

            var vm = avalon.define({
                $id: 'test'
            });
        });
    </script>
</body>
</html>