<template>
    <div class="ane-datepicker">
        <i class="fa fa-calendar ane-datepicker-icon"></i>
        <input type="text" class="form-control" :click="@handleClick" readonly :duplex="selected" />
        <ms-trigger :widget="{
            visible: @panelVisible,
            innerVmId: @panelVmId,
            innerClass: @panelClass,
            innerTemplate: @panelTemplate,
            withInBox: @withInBox,
            getTarget: @getTarget,
            onHide: @handlePanelHide
        }">
        </ms-trigger>
    </div>
</template>
<style lang="scss">
    @import '../../styles/index';
    $datepicker-prefix-cls: #{$ane-prefix}-datepicker;

    .#{$datepicker-prefix-cls} {
        position: relative;

        &-icon {
            position: absolute;
            right: 8px;
            top: 50%;
            margin-top: -7px;
        }
    }

    .#{$datepicker-prefix-cls}-panel-container {
        background-color: #fff;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        user-select: none;
    }
    .#{$datepicker-prefix-cls}-panel {
        width: 231px;

        a {
            color: $link-color;
            cursor: pointer;
            text-decoration: none;
            &:hover {
                color: $link-hover-color;
            }
        }

        &-header {
            text-align: center;
            height: 34px;
            line-height: 34px;
            border-bottom: 1px solid #e9e9e9;
        }
        .#{$datepicker-prefix-cls}-prev-year-btn {
            float: left;
            margin-left: 7px;
            padding: 0 5px;
            font-size: 16px;
        }
        .#{$datepicker-prefix-cls}-prev-month-btn {
            float: left;
            margin-left: 7px;
            padding: 0 5px;
            font-size: 16px;
        }
        .#{$datepicker-prefix-cls}-next-year-btn {
            float: right;
            margin-right: 7px;
            padding: 0 5px;
            font-size: 16px;
        }
        .#{$datepicker-prefix-cls}-next-month-btn {
            float: right;
            margin-right: 7px;
            padding: 0 5px;
            font-size: 16px;
        }
        .#{$datepicker-prefix-cls}-month-select {
            padding: 0 2px;
            font-weight: 700;
            display: inline-block;
            color: rgba(0,0,0,.65);
            line-height: 34px;
        }
        .#{$datepicker-prefix-cls}-year-select {
            padding: 0 2px;
            font-weight: 700;
            display: inline-block;
            color: rgba(0,0,0,.65);
            line-height: 34px;
        }

        &-body {
            padding: 4px 8px;
        }

    }
</style>