@import '../../styles/index';
$loading-prefix-cls: #{$ane-prefix}-loading;

.#{$loading-prefix-cls}-mask {
    position: absolute;
    background: #ffffff;
    filter: alpha(opacity=90);
    opacity: .9;
    color: #000000;
    text-align: center;
    z-index: 300;
}