<div class="ane-calendar">
    <div class="row" ms-if="@showHeader">
        <div class="col-md-2 col-md-offset-4">
            <ms-select :widget="{value:[@currentYear],options:@currentYearOptions,onChange:@handleYearChange}"></ms-select>
        </div>
        <div class="col-md-2">
            <ms-select :widget="{value:[@currentMonth],options:@monthOptions,onChange:@handleMonthChange}"></ms-select>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th class="ane-calendar-column-header" :for="day in @weekdays">{{day}}</th>
            </tr>
        </thead>
        <tbody>
            <tr :for="week in @table">
                <td class="ane-calendar-cell" :class="el.className" :for="el in week">
                    <div class="ane-calendar-date" :click="@handleDateClick(el) | stop">{{el.date}}</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>