<template>
    <div>
        <div class="row" ms-if="@showHeader">
            <div class="col-md-2 col-md-offset-4">
                <ms-select :widget="{value:[@currentYear],options:@currentYearOptions,onChange:@handleYearChange}"></ms-select>
            </div>
            <div class="col-md-2">
                <ms-select :widget="{value:[@currentMonth],options:@monthOptions,onChange:@handleMonthChange}"></ms-select>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th :for="day in @weekdays">{{day}}</th>
                </tr>
            </thead>
            <tbody>
                <tr :for="week in @table">
                    <td>{{week[0]}}</td>
                    <td>{{week[1]}}</td>
                    <td>{{week[2]}}</td>
                    <td>{{week[3]}}</td>
                    <td>{{week[4]}}</td>
                    <td>{{week[5]}}</td>
                    <td>{{week[6]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>