@import '../../styles/index';
$menu-prefix-cls: #{$ane-prefix}-menu;

.#{$menu-prefix-cls} {
    min-height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #fff;
    border-right: 1px solid #e9e9e9;
    color: $text-color;

    a {
        color: $text-color;
        cursor: pointer;
        text-decoration: none;
    }

    &-item {
        height: 40px;
        line-height: 40px;
        cursor: pointer;

        & > a > i {
            display: none;
        }
        a {
            display: block;
            &:hover {
                color: $brand-primary;
            }
        }
    }

    &-submenu {
        position: relative;
        height: auto;
        line-height: 40px;
        cursor: pointer;

        & > a > i {
            display: none;
        }
        & > a {
            display: block;
            &:hover {
                color: $brand-primary;
            }

            i.fa {
                position: absolute;
                display: inline-block;
                top: 0;
                right: 16px;
                line-height: inherit;
            }
        }
    }

    & & {
        border-right: 0;
    }
}