@import '../../styles/index';
$layout-prefix-cls: #{$ane-prefix}-layout;

.#{$layout-prefix-cls} {
    height: 100%;
    margin-left: 300px;
    background: #fff;
    position: relative;

    &-sider {
        position: absolute;
        width: 300px;
        top: 0;
        bottom: 0;
        background: blanchedalmond;
    }
    
    &-header {
        height: 60px;
        background: aquamarine;
    }

    &-content {
        padding-bottom: 60px;
    }

    &-footer {
        width: 100%;
        height: 60px;
        background: aquamarine;
        position: absolute;
        bottom: 0;
    }
}

a {
    cursor: not-allowed;
}